<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="二维码">
  <ion-content class="padding">
    <div style="width:200px; margin:0 auto; height:auto;">
    <p style="text-align: center;"><img ng-src="img/smallapp.png" style="width: 196px; height: 196px;" /></p>
    </div>
    <p style="text-align: center;">
      "他们说小程序的入口是二维吗，好吧，给你，不谢"
    </p>
    
  </ion-content>
</ion-view>
